<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  [defaultHref]="login"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!ios">Resetar a senha</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" *ngIf="formGroup" (ngSubmit)="save(); $event.preventDefault()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">E-mail</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
        <ion-text color="danger">
          <p *ngIf="formGroup.controls['email'].dirty && 
          formGroup.controls['email'].errors">E-mail inválido</p>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">CPF</ion-label>
        <ion-input formControlName="cpf" type="text" (ionChange)="format($event)"></ion-input>
        <ion-text color="danger">
          <p *ngIf="formGroup.controls['cpf'].dirty && 
          formGroup.controls['cpf'].errors">CPF inválido</p>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Data de Nascimento</ion-label>
        <ion-input formControlName="dataNascimento" type="date"></ion-input>
        <ion-text color="danger">
          <p *ngIf="formGroup.controls['dataNascimento'].dirty && 
          formGroup.controls['dataNascimento'].errors">Data inválida</p>
        </ion-text>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  type="submit" expand="block" [disabled]="formGroup.invalid">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>