<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title *ngIf="!ios && !showSearchbar">{{titulo}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #createForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Título</ion-label>
          <ion-input [(ngModel)]="publicacao.titulo"  name="titulo" type="text" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">Subtitulo</ion-label>
          <ion-input [(ngModel)]="publicacao.subTitulo"  name="subtitulo" type="text" spellcheck="false" autocapitalize="off">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">Descrição</ion-label>
          <ion-textarea [(ngModel)]="publicacao.descricao" name="descricao" type="text" spellcheck="false" autocapitalize="off"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-button size="small" (click)="takePhoto()">
            <ion-icon name="camera" slot="start"></ion-icon>
            <ion-label>Camera</ion-label>
          </ion-button>
          <ion-button size="small" (click)="getPicture()">
            <ion-icon name="image" slot="start"></ion-icon>
            <ion-label>Gallery</ion-label>
          </ion-button>
        </ion-item>

        <ion-card *ngIf="photo">
          <ion-card-content>
            <img [src]="photo">
          </ion-card-content>
        </ion-card>

        <ion-list [lines]="ios ? 'inset' : 'full'">
          <ion-list-header>Selecione</ion-list-header>
      
          <ion-item *ngFor="let filtro of publicacao.colTagDTO" [attr.filtro]="filtro.descricao | lowercase">
            <ion-label>{{filtro.descricao}}</ion-label>
            <ion-checkbox [(ngModel)]="filtro.selecionado" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-item>
      
        </ion-list>
  
        
      </ion-list>
  
      <ion-row>
        <ion-col>
          <ion-button  type="submit" expand="block" (click)="save()">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </form>

  
</ion-content>
