<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!ios">Mudar a senha</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="save(); $event.preventDefault()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
        <ion-text color="danger">
          <p *ngIf="formGroup.controls['senha'].dirty && 
          formGroup.controls['senha'].errors">Senha inválida</p>
        </ion-text>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked" color="primary">Confirmar Senha</ion-label>
        <ion-input formControlName="confirmarSenha" type="password"></ion-input>
        <ion-text color="danger">
          <p *ngIf="formGroup.controls['confirmarSenha'].dirty && 
          formGroup.controls['confirmarSenha'].errors">Confirmar senha precisa ser igual a senha</p>
        </ion-text>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button  type="submit" expand="block" [disabled]="formGroup.invalid">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>